<html>
  <head>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./style-module.css" />
    <script type="text/javascript" src="./index.js"></script>
  </head>
  <body>
    <div class="topnav">
      <span class="topbar-header">Welcome to FilmiZone!!</span>
      <a id="user-tab">
        <select
          id="user-selection"
          onchange="onUserChange(event)"
          style="cursor: pointer"
        >
          <option>ALL Movies</option>
        </select></a
      >
      <a onclick="getUsersOverview('all-users')" id="all-users"
        >View all users</a
      >
      <a
        onclick="getUsersOverview('all_movie')"
        id="all_movie"
        style="display: none"
        >Movies overview</a
      >
      <!-- <a href="#about">About</a> -->
    </div>
    <div class="main-container">
      <div class="Add-row">
        <button
          class="add_btn"
          onclick="trigger_model('add');"
          data-toggle="modal"
          data-target="#myModal"
        >
          <i class="fa fa-plus"></i>
        </button>
      </div>

      <table
        align="center"
        cellspacing="2"
        cellpadding="5"
        id="film-table"
        border="1"
      ></table>
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                onclick="removeForm()"
              >
                &times;
              </button>
              <h4 class="modal-title" id="modal-title"></h4>
            </div>
            <div class="modal-body" id="modal-body"></div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
                onclick="removeForm()"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                data-dismiss="modal"
                onclick="create_movie()"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
